*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */




/*  GENERAL  */
.flex{
    display: flex;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

header{
    background-color: #ADD8E6;
    
}