*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */

.debug header{
    background-color: #ADD8E6;
}
.debug .menu-column{
    height: 30px;
    border: 2px dotted red;
}
.debug .box1,
.debug .box2,
.debug .box3,
.debug .box-header{
    border: 2px dotted black;
}


/*  GENERAL  */
.flex{
    display: flex;
    justify-content: center;
}

.container{
    max-width: 1200px;
    width: 75%;
    margin: auto;
}

/* HEADER */
header{
    padding-top: 10px;
    width: 100%;
}
.menu{
    height: 50px;
}
.menu-column{
    background-color: #D9A523;
    width: calc(100% / 4);
    margin-bottom: 10px;
    text-align: center;
    
    line-height: 30px;
}
.menu-column:nth-of-type(2n+2){
    width: calc(100% / 2);
}
.bottom-header{
    background-color: #00008B;
}

.box-header{
    background-color: #EE82EE;
    height: 150px;
    width: 60%;
}

/*  MAIN */
section:nth-of-type(2n+2){
    background-color: #D3D3D3;
}
section{
    padding: 20px 0 20px 0;
}
.box1{
    height: 175px;
    width: 60%;
    background-color: #1E90FF;
}
.box2{
    height: 175px;
    width: 40%;
    background-color: #FFC0CB;
}
.box3{
    height: 230px;
    background-color: #228B22;
    width: 100%;
}

/* FOOTER */
