*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.debug .container{
    border: 1px dotted lightgreen;
}
.debug header{
    background-color: #ADD8E6;
}
.debug .menu-column{
    height: 30px;
    border: 2px dotted red;
}


/*  GENERAL  */
.flex{
    display: flex;
}

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

/* HEADER */
header{
    padding-top: 10px;
    height: 50px;
    width: 100%;
}
.menu-column{
    background-color: #D9A523;
    width: calc(100% / 4);
    margin-bottom: 10px;
    text-align: center;
    
    line-height: 30px;

}
.menu-column:nth-of-type(2n+2){
    width: calc(100% / 2);
}

/*  MAIN */

main{

}